:root {
    --headingColor: color(display-p3 0.806 0.566 0.862);
}

.container{
    background-color: var(--headingColor);
    font-size: 1em;
    width: 300px;
    height: 1in;
    text-align: center;
    text-justify: auto;
    padding-top: 1rem;
    padding-right: 1mm;
    padding-bottom: 1vh;
    padding-left: 0px;
    position: relative;
    left: 200px;
}

.attenWrapper {
    width: 130px;
}

.navContainer {
    display:inline-flex;
    display: flex;
}

.navList {
    margin-left: 40px;
}

.bodyContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #Cce9b7;

}

.imgContainer {
    position: sticky;
    top: 0px;
}
.gridItem {
  align-items: center;
}

#tlist1 {
    color: red;
}

#tlist2 {
    color: #228B22;
}

#tlist3 {
    color: rgb(0,0, 255);
}

#gamelist {
    color: hsl(271, 97%, 53%);
    text-decoration: underline;
}

h2 {
    color: var(--headingColor, teal);
    margin: 45px 0px 5px 0px;

}

video {
    padding: 30px 0px 30px 0px;
    margin: auto;
}

footer {
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-style: dashed;
    max-width: fit-content;
    max-height: fit-content;
}

details {
    border-style: double;
    border-color: var(--headingColor);
    border-radius: 1.2em;
    border-width: 10px;
}

strong {
    display: block;
}
